{% extends '../base.html' %}
{% block content %}
<div class="membre">
    <h1>Listes des Membres</h1>
    <button><a href="{% url 'bibliothecaire:ajoutmembre' %}">Ajouter un membre +</a></button>

    <table>
        <thead>
            <th>Id</th>
            <th>Nom</th>
            <th>Email</th>
            <th></th>
        </thead>
        <tbody>
           {% for membre in membres %}
           <tr>
               <td>{{ membre.id }}</td>
               <td>{{ membre.nom }}</td>
               <td>{{ membre.email }}</td>
               <td><button><a href="{% url 'bibliothecaire:modifmembre' membre.id %}">Modifier</a></button></td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}