{% extends '../base.html' %}
{% block content %}
<div class="membre">
    <div class="titre">
        <h1>Listes des Membres</h1>
        <button><a href="{% url 'bibliothecaire:ajoutmembre' %}">Ajouter un membre +</a></button>
    </div>
    <table>
        <thead>
            <th></th>
            <th><u>Nom</u></th>
            <th><u>Prénom</u></th>
            <th><u>Email</u></th>
            <th></th>
        </thead>
        <tbody>
           {% for membre in membres %}
           <tr>
               <td><button class="delete"><a href="{% url 'bibliothecaire:deletemembre' membre.id %}">X</a></button></td>
               <td>{{ membre.nom }}</td>
               <td>{{ membre.prenom }}</td>
               <td>{{ membre.email }}</td>
               <td><button><a href="{% url 'bibliothecaire:modifmembre' membre.id %}">Modifier</a></button></td>
               <td><button><a href="{% url 'bibliothecaire:ajoutemprunt' membre.id %}">+ Ajouter un emprunt</a></button></td>
               <td><button><a href="{% url 'bibliothecaire:listeemprunt' membre.id %}">Retourner un emprunt</a></button></td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
        {% if message %}
        <p class="{{ class }}"> {{ message }}</p>
        {% endif %}
</div>
{% endblock content %}