<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load django_bootstrap5 %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/ajoutmedia">Ajouter un media</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
    <div class="media">
        <h1>Ajouter un Media</h1>
        <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ creationMedia }}
            <input type="submit" value="Envoyer">
        </form>
    </div>
</body>
</html>
