{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<body>
    <div class="media">
        <h1>Ajouter un Media</h1>
        <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ creationMedia }}
            <select name="type" required>
                <option value="" selected>---------</option>
                <option value="1">Livre</option>
                <option value="2">CD</option>
                <option value="3">DVD</option>
                <option value="4">Jeu de plateau</option>
            </select>
            <br>
            <input type="submit" value="Envoyer">
        </form>
    </div>
</body>
