{% extends '../base.html' %}
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% block content %}
<div>
    <h1>Listes des Medias <a href="{% url 'bibliothecaire:ajoutmedia' %}">Ajouter un Media</a></h1>

    <table>
        <thead>
            <th>Id</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Stock</th>
            <th></th>
        </thead>
        <tbody>
           {% for media in medias %}
           <tr>
               <td>{{ media.id }}</td>
               <td>{{ media.name }}</td>
               <td>{{ media.type }}</td>
               <td>{{ media.stock }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}