{% extends '../base.html' %}
{% block content %}

<div class="media">
    <h1>Listes des Medias</h1>
    <button><a href="{% url 'bibliothecaire:ajoutmedia' %}">Ajouter un Media +</a></button>

    <table>
        <thead>
            <th>Id</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Stock</th>
            <th></th>
        </thead>
        <tbody>
           {% for media in medias %}
           <tr>
               <td>{{ media.id }}</td>
               <td>{{ media.name }}</td>
               <td>{{ media.type }}</td>
               <td>{{ media.stock }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}