<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
        <title>{% block title %}Mediatheque{% endblock %}</title>

</head>
<body>
     {% include './partials/header.html' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer> Footer : Logiciel pour la bibliothèque</footer>
</body>
</html>