{% extends './base.html' %}
{% block content %}

<div class="home">
    <div class="icone">
            <i class="fa-solid fa-book"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-compact-disc"></i>
            <i class="fa-solid fa-film"></i>
            <i class="fa-solid fa-dice"></i>
    </div>
    <p>Logiciel pour la bibliothèque</p>
    <p> Gestion des médias et des membres</p>
    <div class="icone">
        <i class="fa-solid fa-book"></i>
        <i class="fa-solid fa-music"></i>
        <i class="fa-solid fa-compact-disc"></i>
        <i class="fa-solid fa-film"></i>
        <i class="fa-solid fa-dice"></i>
    </div>
</div>

{% endblock content %}
