.navbar{
    background-color:black;
    padding: 0.5em;
}

.mediatheque{
    font-size: 1em;
    padding: 1em;
    color: #cd8a8afa;
    border: 1px solid #cd8a8afa;
}

ul, li, button{
    display: flex;
    align-items:center;
    background-color: black;
    gap: 2em;
    list-style-type: none;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: antiquewhite;
    background-color: black
}

a:focus{
    color: #cd8a8afa;
}