{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<body>
    <div class="media">
        <h1>Listes des Medias</h1>
            {% if medias %}
 <table>
        <thead>
            <th><u>Nom</u></th>
            <th><u>Type</u></th>
            <th></th>
        </thead>
        <tbody>
           {% for media in medias %}
           <tr>
               <td>{{ media.name }}</td>
               <td>{{ media.type }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
            {% else %}
                <p>Aucun media trouvé</p>
            {% endif %}
    </div>
</body>